<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between   items-center fixed bg-blue-400  top-0 left-0 px-5 py-3">
        <h3 class="text-2xl text-white">Scatch</h3>
       <% let loggedin = typeof loggedIn !== "undefined"? loggedIn : true %>
       <% if(loggedin){ %>
         <div class="flex gap-5">
        <a class="text-white hover:text-gray-300" href="/shop">Shop</a>
        <a class="text-white hover:text-gray-300" href="/cart">Cart</a>
        <a class="text-white hover:gray-gray-300" href="/myaccount">My Account</a>
        <a class="text-red-600 hover:text-red-400" href="/users/logout" class="text-red-600 ">Logout</a> 
       <% }%>

        </div>
    </nav>